<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<!-- PaymentVO를 가지고 오고 약칭은 Payment로 하겠다.  -->
		<typeAlias type="org.zerock.domain.PaymementVO" alias="Payment"/>
	</typeAliases>	
	
	<!-- 오라클 DB와 붙게끔 설정파일을 만들어줬다. 얘가 오라클 DB와 내가 만든 파일의 설정을 가지고 있다.  -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
				<property name="username" value="soju"/>
				<property name="password" value="beer"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 여기에 SQL 쿼리문을 넣을 것. -->
	<mappers>
	    <mapper resource="mappings/sql-payment.xml"/>
	    <!-- 패키지 스캔을 사용하여 매퍼 인터페이스를 자동으로 찾음 -->
	    <package name="org.zerock.mapper"/>
	</mappers>
	
</configuration>
