@font-face {
    font-family: 'designhouseOTFLight00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/designhouseOTFLight00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reply_row{
    padding: 1% 16%;
    background-color: #0F1A25;
}

.panel-body{

    padding-bottom: 0%;
}

input:focus{
    border: none !important;
    box-shadow: none !important;
    background: rgb(255, 243, 214, 0.3) !important;
}

textarea:focus{
    border: none !important;
    box-shadow: none !important;
    background: rgb(255, 243, 214, 0.3) !important;
}


.panel-body p{
    font-size: 3em !important;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2%;
    font-family: 'designhouseOTFLight00';
    margin-bottom: 100px;
	margin-top:30px;
}



.reply_panel p{
    font-size: 1.6rem !important;
    font-weight: 600;
    color: #EF5A4A;
    margin-top: 15px;
    width: 86%;
}

.reply_panel .fa{
    color: #EF5A4A;
    display: block;
    font-size: 1.6em;
    width: 50px;
    text-align: left;
}


.reply_tit{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}



.chat li{
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #EF5A4A;
}

.pull-right{
    justify-content: right;
    float: right;
}

.panel-body .form-group{
    font-size: 1rem;
    margin-bottom: 2%;
}

.panel-body .form-group label{
	color: #fff;
}

.form-control,.input-group-text{
    background: #E1D9E4;
    border: none;
    box-shadow: none;
    outline: none;
    margin-bottom: 18px;
    font-size: 1rem;
}


.sub_btn{
    background-color: #FFF3D6 ;
    border:  1px solid #FFF3D6;
    border-radius: 5px;
    color: #EF5A4A;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px;
}

.reset_btn{
    background-color: #FFF3D6 ;
    border:  1px solid #FFF3D6;
    border-radius: 5px;
    color: #EF5A4A;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px;
}


.reply_btn{
    /* justify-content: right; */
    background-color: #FFF3D6 ;
    border:  1px solid #FFF3D6;
    border-radius: 5px;
    color: #EF5A4A;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px;
    position: absolute;
    right: 0;
}

.modify_btn{
	background-color: #50B7CD;
	color: #0F1A25;
}
.modify_btn:hover{
	background-color: #4194A7;
	color: #fff;
}

.btn-danger{
	--bs-btn-bg: #E72D5A;
}

.btn-danger:hover{
	color: #0F1A25;
}