<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- MyBatis xml 파일 작성 시 반드시 mapper 태그의 namespace 속성값을
     Mapper 인터페이스와 동일한 이름으로 설정해야 합니다. -->
<mapper  namespace="org.zerock.mapper.ReviewMapper">
	<sql id="criteria">
			<trim prefix="(" suffix=") AND " prefixOverrides="OR" >
					<foreach item="type" collection="typeArr">
						<trim prefix="OR">
							<choose>
								<when test="type == 'T'.toString()">
									retitle like '%'||#{keyword}||'%'
								</when>
								<when test="type == 'C'.toString()">
									recontent like '%'||#{keyword}||'%'
								</when>
								<when test="type == 'W'.toString()">
									rewriter like '%'||#{keyword}||'%'
								</when>
							</choose>
						</trim>
					</foreach>
				</trim>
		</sql>


	<!-- getList 처리 -->
	<select id="getList" resultType="org.zerock.domain.ReviewVO">
		<![CDATA[
			select * from review where rebno > 0
		]]>
	</select>
	
	
	<!-- 댓글 카운트 처리 -->
	<!-- update wfflab_board set replycnt = replycnt + 10 where bno = 41; -->
	<update id="updateReplyCnt">
		update review set replycnt = replycnt + #{amount} WHERE rebno = #{rebno}
	</update>
	
	<!--getListWithPaging 처리 -->
	<select id="getListWithPaging" resultType="org.zerock.domain.ReviewVO">
		<![CDATA[
		SELECT REBNO, RETITLE, RECONTENT, REWRITER, REDATE, REUPDATEDATE, replycnt
		FROM (
			SELECT
			/*+ INDEX_DESC(review PK_review) */
			ROWNUM rn, rebno, retitle, recontent, REWRITER, REDATE, REUPDATEDATE, replycnt
			from review
			WHERE
		]]><!-- 검색기능을 위해 조건이 하나 더 들어가기 때문에 CDATA로 나눔 -->
		
		<include refid="criteria"></include>

	   <!-- 
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
		 -->
		<![CDATA[
			 ROWNUM <= #{pageNum} * #{amount}
			)
		WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>	
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) from review 
		where 
		<include refid="criteria"></include>
		rebno > 0
	</select>
	
	<!-- INSERT 처리 -->
	<!-- insert into review(rebno, retitle, recontent, rewriter)
	values(seq_review.nextval, '테스트제목', '테스트 내용', '작성자'); -->
	<insert id="insertSelectKey">
		<selectKey resultType="long" order="BEFORE" keyProperty="rebno">
			SELECT seq_review.nextval from dual 
		</selectKey>
		INSERT INTO review(rebno, retitle, recontent, rewriter) VALUES(#{rebno}, #{retitle}, #{recontent}, #{rewriter}) 
	</insert>
	
	
	<!-- GET 처리 -->
	<!-- read : select * from wfflab_board where bno = 5 -->
	<select resultType="org.zerock.domain.ReviewVO" id="read">
		select * from review where rebno = #{rebno} 
	</select>
	
	<!-- UPDATE 처리 -->
	<!--  UPDATE wfflab_board set title = #{title}, content = #{content}, writer = #{writer}, updatedate = sysdate where bno = 5;  -->
	<update id="update">
		UPDATE review set retitle = #{retitle}, recontent = #{recontent}, rewriter = #{rewriter}, reupdatedate = sysdate where rebno = #{rebno}
	</update>
	
	<!-- DELETE 처리 -->  
	<!-- DELETE from tbl_board WHERE bno = 40 -->
	<delete id="delete">
		DELETE from review WHERE rebno = #{rebno}
	</delete>
	
	             
</mapper>
